<div class="column is-one-quarter">

    <div class="card">
      <div class="card-image">
        <% if game.cover.present? %>
          <div class="card-image">
            <figure class="image">
              <%= image_tag game.cover.variant(resize_to_limit: [300, 300]) %>
            </figure>
          </div>
        <% else %>
        <p>IMAGE 📸</p>
        <% end %>
      </div>

      <div class="card-content">
        <div class="media-content">
          <p class="title is-4"><strong>
            <%= game.name %></strong>
          </p>
          <p><strong>Genre:</strong>
            <% countGenres = game.genres.count %>
              <% game.genres.each do |g| %>
                <% if countGenres > 1 %>
                  <%= g.name%>,
                <% else %>
                  <%= g.name%>
                <% end %>
              <% end %>
          </p>

          <% if game.price > 0 %>
            <p><strong>Price: </strong><%= number_to_currency game.price %></p>
          <% else %>
            <p><strong>Download for free</strong></p>
          <% end %>
        </div>
      </div>

      <div>
        <%= form_with url: add_to_cart_path(game), method: :post do %>
        <% hidden_field_tag(:id, game.id)%>
        <div class="field is-grouped">
            <%= number_field(:one_game, :quantity, min: 1, class: "input") %>
            <%= button_tag(cart.include?(game) ? 'Update' : 'Add', class: "button is-primary") %>
        </div>

            <% end %>
          <% if cart.include?(game) %>
            <%= button_to(remove_from_cart_path(game), method: :delete, class: "button is-warning") do %>
                Remove From Cart
            <% end %>
           <% end %>


      </div>




    </div>

</div>