<!DOCTYPE html>
<html>
  <head>
    <title>Games-Masters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>

    <header>
        <nav>
        <%= link_to image_tag("dragon.png", :alt => "dragon logo"), root_path %>
        </nav>
    </header>
    <section class="section">
      <div class="container">
        <h1 class="title is-1">Games Masters</h1>
        <%= render partial: 'partials/navbar' %>


    <%= yield %>
  </body>
</html>
